.DS_Store
.env
.venv
venv
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
index.html
relatorio.html
unidade35.html
unidade34.html
logger.txt
dados/*.json
feathers/*
saida.json
dados/isolamento_34.json
dados/unidades.json
app.spec
loggerV5.1.txt
dados/unidades.json
dados/isolamento_34.json
app.spec
loggerV5.1.txt
